<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "홈으로", root_url %> 
   <% if current_user %> 
       Logged in as <%= current_user.email %>. 
       <%= link_to "로그아웃", logout_path %> 
       <%= link_to "새글쓰기", new_content_path %> 
   <% else %> 
       <%= link_to "회원가입", signup_path %> or 
       <%= link_to "로그인", login_path %> 
   <% end %> 
   <br> 



<%= yield %>

</body>
</html>
